<div class="container">
  <div class="row">
    <div class="col text-center">
      <h3>いいね一覧</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ユーザー名</th>
            <th>レシピ名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @recipe_bookmark_recipes.each do |recipe|%>
          <tr>
            <td><%= recipe.customer.user_name %></td>
            <td><%= recipe.name %></td>
            <td>
              <%= link_to "詳細", recipe_path(recipe) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

