<h1>ランキング</h1>

<% @recipes.each.with_index(1) do |recipe, i| %>

<div class="recipe-info"><i class="fas fa-crown"></i> 第<%= i %>位</div>

<%= image_tag recipe.image, size: "250x200" %>
<div>
<%= link_to recipe.name, recipe_path(recipe) %>
</div>

  <p><%= link_to "#{recipe.recipe_comments.count} コメント", recipe_path(recipe.id) %></p>
<% end %>