<div class="container">
  <div class="row justify-content-center">
    <h2>チョコレートについて</h2>
  </div>

  <div class="row mt-5">
    <div class="col-lg-7">
      <h4>
        <strong>チョコレートの起源</strong>
      </h4>
      <p>
      古代メキシコではチョコレートの原料であるカカオは「神様の食べ物」といわれ、大変高価なものでした。<br />
      16世紀の初め頃、アステカの皇帝モンテスマはとても貴重な飲み物として、
      黄金のカップで1日に50杯ものショコラトル（チョコレートのこと）を飲んでいたといいます。<br />
      当時のチョコレートは、今とは違って、カカオ豆をすりつぶしたドロドロした飲み物で、
      人々はそれにとうもろこしの粉を加えたり、バニラやスパイスで香りをつけて飲んでいました。
      </p>
    </div>

    <div class="col-lg-3 mx-auto mt-5">
      <%= image_tag("ホットチョコ.jpg", style: "width: 200px; height: auto;") %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-3 mt-5">
      <%= image_tag("板チョコ.jpg", style: "width: 200px; height: auto;") %>
    </div>

    <div class="col-lg-8">
      <h4>
        <strong>「飲み物」から「食べるチョコレート」へ</strong>
      </h4>
      <p>
      1828年、カカオに含まれているココアバターを搾り取り、ココアパウダーを発明しました。
      渋く、苦く、くどかったチョコレートの欠点を解決し、ココアを一般大衆の飲み物としました。
      このココアの発明は、現在のチョコレートにつながる重要なきっかけとなりました。<br />

      その後、カカオ豆をすり潰して砂糖を加えたものにココアバターを加えて、今のチョコレートの原形を発明しました。
      これが、「食べるチョコレート」のはじまりです。<br />

      しかし、「食べるチョコレート」はまだ苦味が強く、一般に普及させるにはもう少し工夫が必要でした。
      そこで、チョコレートにミルクを加えてまろやかに、
      1876年に誕生したミルクチョコは、甘く、口当たりが良く人々を魅了しました。
      こうして、チョコレートはさらに改良が重ねられ、世界中に広がっていったのです。
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <p>
      いかがでしたでしょうか。このようにして、みんなから愛されるスイーツとなっていきました。<br />
      本サイトではチョコレートを専門にしたレシピ投稿サイトとなっております。<br ?>
      会員不要でレシピ閲覧は可能ですが、会員登録していただけますと、レシピを投稿出来たり、<br />
      気に入ったレシピをお気に入りして保存することが出来ます。<br />
      会員登録は<%= link_to "こちら", new_customer_registration_path %>からどうぞ。
    </P>
  </div>

  <div class="row justify-content-center mt-3">
    <p>
      世界中には様々なショコラスイーツが存在します。<br />
      本サイトでは誰でも簡単に作れるショコラスイーツレシピから、
      本格的なショコラスイーツレシピも掲載しており、<br />
      幅広いレシピサイトとなっております。
      <%= link_to "こちら", recipes_path %>からレシピ一覧ページへどうぞ。
    </p>
  </div>

  <div class="row mt-5">
    <h6>引用: LOTTE "チョコの起源と歴史"  https://www.lotte.co.jp/kengaku/choco/history/history.html(2023年6月26日)</h6>
  </div>

  </div>
</div>
