<div class="container">
  <div class="row justify-content-center">
    <h2>チョコレートについて</h2>
  </div>

  <div class="row mt-5">
    <div class="col-lg-7">
      <h4>
        <strong>チョコレートの起源</strong>
      </h4>
      <p>
      古代メキシコではチョコレートの原料であるカカオは「神様の食べ物」といわれ、大変高価なものでした。<br />
      16世紀の初め頃、アステカの皇帝モンテスマはとても貴重な飲み物として、
      黄金のカップで1日に50杯ものショコラトル（チョコレートのこと）を飲んでいたといいます。<br />
      当時のチョコレートは、今とは違って、カカオ豆をすりつぶしたドロドロした飲み物で、
      人々はそれにとうもろこしの粉を加えたり、バニラやスパイスで香りをつけて飲んでいました。
      </p>
    </div>

    <div class="col-lg-3 mx-auto mt-5">
      <%= image_tag("ホットチョコ.jpg", style: "width: 200px; height: auto;") %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-3 mt-5">
      <%= image_tag("板チョコ.jpg", style: "width: 200px; height: auto;") %>
    </div>

    <div class="col-lg-8">
      <h4>
        <strong>「飲み物」から「食べるチョコレート」へ</strong>
      </h4>
      <p>
      1828年、カカオに含まれているココアバターを搾り取り、ココアパウダーを発明しました。
      渋く、苦く、くどかったチョコレートの欠点を解決し、ココアを一般大衆の飲み物としました。
      このココアの発明は、現在のチョコレートにつながる重要なきっかけとなりました。<br />

      その後、カカオ豆をすり潰して砂糖を加えたものにココアバターを加えて、今のチョコレートの原形を発明しました。
      これが、「食べるチョコレート」のはじまりです。<br />

      しかし、「食べるチョコレート」はまだ苦味が強く、一般に普及させるにはもう少し工夫が必要でした。
      そこで、チョコレートにミルクを加えてまろやかに、
      1876年に誕生したミルクチョコは、甘く、口当たりが良く人々を魅了しました。
      こうして、チョコレートはさらに改良が重ねられ、世界中に広がっていったのです。
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <h4>
      <strong>さまざまなチョコレート</strong>
    </h4>
  </div>

  <div class="row justify-content-center mt-3">
    <p>
      チョコレートは世界中に数えきれないほど様々な種類が存在します。
      以下、代表的なチョコレートの種類を紹介します。
    </P>
  </div>

  <div class="row mt-3">
      <h5>
        <strong>ボンボンショコラ</strong>
      </h5>
      <p>
        ひとくちサイズのチョコレートの総称です。代表的なものとしては、
        チョコレートをベースに加温した生クリームを混ぜ合わせ、なめらかな
        クリーム状の食感に仕上げた「ガナッシュ」や、
        砂糖を煮詰めてキャラメル状にした糖液を、アーモンドやヘーゼルナッツに
        からめて砕いた「プラリネ」等があります。
        そのほか、一般的に知られているものとして、球状の形をした「トリュフ」や、
        オレンジの皮を細長く切り、砂糖漬けしたものをチョコレートでコーティングした
        「オランジェット」等があります。
      </p>

      <h5>
        <strong>生チョコレート</strong>
      </h5>
      <p>
        冷やし固めることで固形化させたガナッシュを、多くは四角い立体に
        切り分けて食べるチョコレートです。
        ココアパウダーや粉糖をまぶして仕上げるため、ガナッシュそのものと言えます。
      </p>


  </div>
</div>
